/**
 * EVENTS
 *
 * Type sizes based on: http://www.modularscale.com/?1&em&1.25&web&text
 */

article.events {

  @include outer-container(100%);

  .entry-content {
    @include span-columns(10 of 12);
    @include shift(1);

    margin-top: 1.333rem;

    @include media($large-screen) {
      @include span-columns(6 of 12);
      @include shift(3);

      @include pad(2em 0 0 0);
    }
  }

  .entry-header {
    background: linear-gradient(270deg, #22cfa2, #227dcf);
    background-size: 400% 400%;
    padding: 12em 0 0 0;
  }

  .entry-title {
    text-align: center;
    color: #fff;
    font-size: 12vw;
    line-height: 1;
    text-transform: uppercase;
    border: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
    padding: 0;
  }

  .event-date,
  .event-location {
    display: inline-block;
    font-family: $base-font-family;
    font-weight: 400;
  }

  .event-location {
    font-weight: 700;
  }

  .event-call-to-action {
    margin-top: 1em;
    text-align: center;

    a {
      //background: rgba(0,0,0,.30);
      background: $cta-color;
      border: 4px solid darken($cta-color, 12%);
      border-radius: 12px;
      color: #fff;
      display: inline-block;
      font-family: $navigation-font-family;
      font-size: 2em;
      font-weight: 700;
      padding: .333em 2em;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: padding .1s ease;
      -moz-transition: padding .1s ease ;
      transition: padding .1s ease;

      &:hover,
      &:focus {
        background-color: #E46E31;
        border-color: darken(#E46E31, 6%);
        padding: .333em 3em;
      }
    }
  }

  .entry-header.has-feature-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
  }
}

.event-meta {
  list-style: none;
  padding: 0;
  margin: 4rem 0 0 0;

  @include display(flex);
  @include flex-flow(row);
  @include flex-wrap(wrap);

  li {
    color: #fff;
    font-size: 1.333em;
    text-align: center;
    padding: 1em .333em;
    background: rgba($base-bg-color, .8);

    flex: 0 0 100%;

    @include media($large-screen) {
      flex: 0 0 50%;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #29BEE2;
    margin-right: 1em;

    &:hover,
    &:focus {
      border-color: lighten(#29BEE2, 10%);
    }

  }


}


// Agenda
.agenda {
  @include span-columns(12 of 12);

  @include media($large-screen) {
    @include span-columns(10 of 12);
    @include shift(1);
  }
}

.agenda-title {
  text-align: center;
}

.sessions {

  li.single-session:nth-child(odd) {
    background-color: lighten($action-color, 80%);
  }

  li.single-session:nth-child(1) {
    background-color: lighten($action-color, 70%);
  }

}

.single-session {

  @include outer-container;
  @include pad(1em);

  time {
    @include span-columns(10 of 12);


    @include media($large-screen) {
      @include span-columns(3 of 12);
    }


  }
  .event-description {
    @include span-columns(10 of 12);

    @include media($large-screen) {
      @include span-columns(9 of 12);
    }

    h2 {padding-top: 0;}

    a { color: lighten($action-color, 30%); }


  }
}

.session-thumb-photo {
  float: left;
  height: auto;
  margin-right: 1em;
  max-width: 75px;

}

.sessions {
  list-style: none;
  @include pad(0);
}

.session-extended {
  font-size: 90%;

  ol {
    padding: 0;
    list-style: none;
    list-style-position: inside;

  }


}

.event-description {
  h2 {
    font-size: $base-font-size;
    margin-top: 0;
  }
}



// Location + Google Map
.location {
  @include span-columns(10 of 12);
  @include shift(1);
}

.event-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

// Speakers
.speakers {

  @include span-columns(12 of 12);

  //background-color: #ccc;

  margin-top: 3em;
  margin-bottom: 3em;

  h2 {
    font-size: 3em;
    padding: 2rem;
    text-align: center;
  }

}
/*
.speaker-header {
  @include outer-container;
  margin-bottom: 1em;

  .speaker-photo {
    @include span-columns(3);
  }
  div {
    @include span-columns(9);
  }
}
*/

.speaker-list-old {

  /*
  list-style: none;
  @include pad(0);

  li { margin-bottom: 3em;}
  */

  @include outer-container(95%);

  @include pad(0);

  li {
    @include span-columns(12 of 12);
    @include omega(4n);

    margin-bottom: 1.5em;

    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n);
    }
  }

}

.speaker-list {
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);

  list-style: none;
  margin: 0;
  padding: 0;

  li {
     @include flex(0 0 50%);

     @include media($large-screen) {
       @include flex(0 0 25%);
     }
  }
}

.speaker-name {
  width: 100%;
  text-align: left;
  background: none;
  font-family: $base-font-family;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.2;
  padding: 1em;
  //background-color: rgba(155,155,155,.9);
  cursor: pointer;
}

.speaker-photo {
  cursor: pointer;
  height: auto;
  width: 100%;
  vertical-align: top;
}

.speaker-title {
  font-size: 0.8em;
  font-family: $base-font-family;
  font-weight: 400;
  line-height: 1.4;
  padding-top: 0;
  display: block;

}

.speaker-photo-modal {
  border-radius: 50%;
  float: right;
  margin: 1em 1em;
}

.speaker-bio {
  font-size: 1em;
  display: none;
}

.speaker-list.toggled {
  .speaker-bio {
    display: block;
  }
}


// Event Sponsors
.sponsors {
  @include span-columns(12 of 12);
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 0;

  h2 { text-align: center; }
}
.sponsor-list {

  @include outer-container(95%);
  @include pad(0);

  li {
    @include span-columns(12 of 12);
    @include omega(3n);

    margin-bottom: 1.5em;
    text-align: center;

    img { max-width: 60%; margin: 0 auto;}

    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

}


// Events archive
.post-type-archive-events {
  article.events {
    @include outer-container();
    margin-bottom: 3em;

    .entry-header {
      @include span-columns(10 of 12);
      @include shift(1);
      background: none;
      padding: 0;

    }

    .entry-content {
      @include span-columns(10 of 12);
      @include shift(1);
      padding: 0;

      @include media($large-screen) {
        @include span-columns(10 of 12);
        @include shift(1);
      }
    }

    .entry-footer {
      @include span-columns(10 of 12);
      @include shift(1);
    }

    .entry-title {
      a {
        color: $action-color;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    .event-theme,
    .event-location {
      font-size: 1.25em;
      padding-top: 0;
    }

  }
}

.event-dining,
.event-accommodations {
  a {
    color: $action-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
