#mc_embed_signup {
  margin-top: 3em;
  @include span-columns(10 of 12);
  @include shift(1);

  @include media($large-screen) {
    @include span-columns(12 of 12);
  }
}

.indicates-required {
  font-size: 0.8em;
  margin: 0 0 1em 0;
}

// Input field styles/layout

.mc-field-group {

  margin: 1em 0;

  input,
  select {
    display: block;
    width: 100%;
  }

  input[type="radio"] {
    display: inline-block;
    margin-right: 0.8em;
    width: auto;
  }

  input[type="submit"] {
    background-color: $action-color;
    border: 1px solid darken($action-color, 20%);
    color: #fff;
    padding: .25em 2em;

    &:hover,
    &:focus {
      background-color: darken($action-color, 5%);
    }

  }

}

.mc-field-group.input-group {
  ul {
    list-style:none;
    margin: 0;

  }
}

// Validation/Error styles
div.mce_inline_error {
  background-color: #FF3A00 !important;
  font-family: $navigation-font-family;
  font-weight: 400;
  text-transform: uppercase;
}

input.mce_inline_error {
  border-color: #FF3A00 !important;
  border-style: solid;
}