// Primary Grid/Layout Settings

.site {
  width: 100%;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: rgba(255,255,255,.70);
  border-bottom: 1px solid $base-border-color;
  z-index: 999999;
}

.site-branding {
  height: 99px;
  line-height: 50px;
  position: absolute;
  left: 77px;
  width: auto;
  overflow: auto;
  padding-left: 1em;

  h1 {
    line-height: 1.6;
    max-width: 60%;
    font-size: 1em;
    text-transform: uppercase;

    span {
      font-weight: 300;
    }

  }

}

.site-content {
  @include margin(100px auto);
  width: 100%;
}

.content-area {
  @include outer-container(100%);
}

.site-main {
  @include span-columns(12);
}

.site-footer {
  @include span-columns(12 of 12);
}

// Posts & Pages Grid/Layout
article.page, article.post {

  @include span-columns(10 of 12);
  @include shift(1);

  @include media($large-screen) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}
article.events {
  @include span-columns(10 of 12);
  @include shift(1);

  .entry-footer {
    @include span-columns(12);
  }

}

.page-header {
  @include span-columns(10 of 12);
  @include shift(1);

  @include media($large-screen) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

.post-type-archive-events {
  .page-header {
    @include span-columns(10 of 12);
    @include shift(1);
  }
}

// Agenda

.agenda {
  @include span-columns(10 of 12);

  @include media($large-screen) {
    @include span-columns(12 of 12);
  }
}

.sessions {

  li:nth-child(odd) {
    background-color: #ccc;
  }

}

.single-session {

  @include outer-container;
  @include border-color($base-border-color);
  @include border-width(0 0 1px 0);
  @include border-style(solid);
  @include pad(1em 0);

  time {
    @include span-columns(10 of 12);

    @include media($large-screen) {
      @include span-columns(3 of 12);
    }

  }
  .event-description {
    @include span-columns(10 of 12);

    @include media($large-screen) {
      @include span-columns(9 of 12);
    }

  }
}

.session-thumb-photo {
  display: inline-block;
  max-width: 75px;
  height: auto;
}


// Location + Google Map

.location {
  @include span-columns(12 of 12);
}

.event-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

// Speakers 

.speakers {
  @include span-columns(10 of 12);

  @include media($large-screen) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}