// Primary Grid/Layout Settings

body {
  background: #fff;
}

.site {
  width: 100%;
}

.site-header {
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: rgba(0,0,0,.5);
  z-index: 996;
}

.site-branding {
  height: 99px;
  line-height: 50px;
  position: absolute;
  left: 77px;
  width: auto;
  overflow: auto;
  @include pad(1em 0 0 1em);

}

.site-content,
.content-area,
.site-main {
  @include outer-container(100%);
}

.site-main {
  padding-bottom: 4em;
}

.archive,
.attachment,
.blog,
.page, {
  .type-attachment,
  .type-events,
  .type-post,
  .type-page {
    background-color: #fff;
    margin-top: 140px;
  }
}

.home.page {
  .type-events {
    margin-top: 0;
  }
}

.page-header {
  @include span-columns(10 of 12);
  @include shift(1);

  @include media($large-screen) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

// Footer Grid
.site-footer {
  @include outer-container(100%);
  background-color: $base-bg-color;
  padding-top: 3em;
  padding-bottom: 3em;

}
.site-info {
  @include span-columns(10 of 12);
  @include shift(1);
}


// Modal Layout
dialog {
  display: block;
}
.speaker-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 997;
  background-color: rgba(0,0,0,.5);

  .invisible {
    display: none;
  }
}
.speaker-modal {
  position: fixed;
  left: 5%;
  right: auto;
  top: 2em;
  bottom: 2em;
  width: 90%;
  background: #fff;
  z-index: 998;
  overflow: auto;
  max-height: 90%;
  border: 0;
  padding: 1em;

  @include media($large-screen) {
    width: 50%;
    left: 25%;
  }

  img.speaker-photo {
    float: right;
    margin-bottom: 2em;
    margin-left: 2em;
  }

}
.speaker-modal-close {
  display: block;
  border: 1px solid #ccc;
  background-color: #fff;
  float: right;
  text-transform: uppercase;
  font-family: $navigation-font-family;
  font-weight: bold;
  color: #ccc;
  font-size: .8em;
}
