// Offset anchor links for fixed header
:target:before {
    content: "";
    display: block;
    height: 140px;
    margin: -140px 0 0;
    outline: 0;
}

.skip-link {
    display: none;
}

// Removes outline from focus
:focus {
    outline: 0;
}

.menu-toggle {
    display: block;
    //height: 49px;
    height: 100px;
    line-height: 50px;
    position: absolute;
    left: 0;
    padding: 0 15px;
    font-family: $navigation-font-family;
    text-transform: uppercase;
    font-weight: 700;

    background: #fff;

    outline: none;

    border: none;

  }

.main-navigation {

  .menu {
    position: fixed;
    //top: 50px;
    top: 100px;
    bottom: 0;
    height: 100%;
    overflow: scroll;
    padding-bottom: 100px;
    left: -100%;
    width: 200px;
    background: #fff;

    -moz-transition: left 0.1s ease-in-out;
    -o-transition: left 0.1s ease-in-out;
    -webkit-transition: left 0.1s ease-in-out;
    transition: left 0.1s ease-in-out;


  }

}
.main-navigation.toggled {
  .menu {
    left: 0;
  }
  .menu-toggle{
    background: $action-color;
    color: #fff;
  }
}

.nav-menu {
    @include pad(0);
    @include margin(0);
    list-style: none;
  }

.menu-item {

  a {
    @include pad(1em);
    display: block;

    font-family: $navigation-font-family;;
    font-weight: 700;
    line-height: $navigation-line-height;
    text-decoration: none;
    text-transform: uppercase;

    @include border-width(0 0 1px 0);
    @include border-color($base-border-color);
    @include border-style(solid);

  }
}