// Offset anchor links for fixed header
/* :target:before {
    content: "";
    display: block;
    height: 140px;
    margin: -140px 0 0;
    outline: 0;
} */

/*

.anchor {
  display: block;
  height: 140px;
  margin-top: -140px;
  visibility: hidden;
}

.skip-link {
    display: none;
}

// Removes outline from focus
:focus {
    outline: 0;
}

.menu-toggle {
    display: block;
    //height: 49px;
    height: 100px;
    line-height: 50px;
    position: absolute;
    left: 0;
    padding: 0 15px;
    font-family: $navigation-font-family;
    text-transform: uppercase;
    font-weight: 700;

    background: #fff;

    outline: none;

    border: none;

  }

.main-navigation {

  .menu {
    position: fixed;
    //top: 50px;
    top: 100px;
    bottom: 0;
    height: 100%;
    overflow: scroll;
    padding-bottom: 100px;
    left: -100%;
    width: 200px;
    background: #fff;

    -moz-transition: left 0.1s ease-in-out;
    -o-transition: left 0.1s ease-in-out;
    -webkit-transition: left 0.1s ease-in-out;
    transition: left 0.1s ease-in-out;


  }

}
.main-navigation.toggled {
  .menu {
    left: 0;
  }
  .menu-toggle{
    background: $action-color;
    color: #fff;
  }
}

.nav-menu {
    @include pad(0);
    @include margin(0);
    list-style: none;
  }

.menu-item {

  a {
    @include pad(1em);
    color: lighten(#000, 20%);
    display: block;

    font-family: $navigation-font-family;;
    font-weight: 700;
    line-height: $navigation-line-height;
    text-decoration: none;
    text-transform: uppercase;

    @include border-width(0 0 1px 0);
    @include border-color($base-border-color);
    @include border-style(solid);

    &:hover,
    &:focus {
      color: $action-color; //lighten(#000, 40%);
    }

  }
}

.sub-menu {
  list-style: none;
  padding: 0px;

  .menu-item {
    font-size: 80%;

    a {
      padding-left: 2.5em;
    }

  }
}

.site-title {
  line-height: 1.2;
  font-size: .8em;
  text-transform: uppercase;

  max-width: 90%;

  a {
    color: #fff;
    display: block;
  }

  @include media($medium-screen) {
    max-width: 60%;
    font-size: 1.25em;
  }

  a {
    text-decoration: none;
  }

}

*/

.site-header,
.skip-link { display: none; }

// OkayNav
/*
 * We are hiding the invisible nav outside the screen
 * so we need to avoid the horizontal scroll
 */
 #header {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    //height: 7rem;
    height: 3rem;
    padding: 0 15px;
    position: fixed;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 997;
}

#header {
  a { text-decoration: none }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.site-logo {
    transition: color 200ms cubic-bezier(.55, 0, .1, 1);
    color: #30acff;
    font-size: 3rem;
}

.ok-header__logo:hover {color: #546edb}
body.okayNav-loaded {
  overflow-x: hidden;
}
.okayNav-header {
  position: fixed;
  top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 15px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.okayNav:not(.loaded) {
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.okayNav ul {
  /* We want two navigations - one hidden and one visible */
  float: left;
}
.okayNav a {
  position: relative;
  z-index: 1;
}
.okayNav__nav--visible {
  overflow: hidden;
  white-space: nowrap;
}
.okayNav__nav--visible li {
  display: inline-block;
}
.okayNav__nav--visible a {
  /* Link styling for the visible part of the nav */
  display: block;
  padding: 15px 15px;
  transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__nav--visible:empty ~ .okayNav__menu-toggle {
  top: 0;
}
/* Link styling for the off-screen part of the nav */
.okayNav__nav--invisible {
  position: fixed;
  //top: 7rem;
  top: 3rem;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.okayNav__nav--invisible a {
  display: block;
  width: 240px;
  padding: 15px;
  background: #fff;
}
.okayNav__nav--invisible.nav-left {
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.okayNav__nav--invisible.nav-right {
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.okayNav__nav--invisible.transition-enabled {
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__nav--invisible.nav-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/* Kebab icon */
.okayNav__menu-toggle {
  position: relative;
  z-index: 1;
  top: 20px;
  float: left;
  width: 40px;
  height: 20px;
  cursor: pointer;
  transition: -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 400ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 400ms cubic-bezier(0.55, 0, 0.1, 1);
}
.okayNav__menu-toggle.okay-invisible {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0;
}
.okayNav__menu-toggle span {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  margin: auto;
  pointer-events: none;
  border-radius: 50%;
}
.okayNav__menu-toggle span:nth-child(1) {
  top: 0;
}
.okayNav__menu-toggle span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.okayNav__menu-toggle span:nth-child(3) {
  bottom: 0;
}
.okayNav__menu-toggle.icon--active {
  /* Kebab icon when off-screen nav is open */
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}


.okayNav-header {
  //height: 7rem;
  height: 3rem;
  background-color: #fff;
}
.okayNav a {
  color: #2e2e33;
  font-size: 1.2rem;
  font-weight: bold;
}
.okayNav a:hover {
  color: #546edb;
}
.okayNav__nav--visible a:hover {
  color: #546edb;
}
.okayNav__nav--invisible {
  background: #fff;
}
.okayNav__menu-toggle span {
  background: #2e2e33;
}
.okayNav__menu-toggle.icon--active span {
  background: #546edb;
}



// Footer Menus
.footer-menu-wrap {
  @include span-columns(12 of 12);

  @include media($large-screen) {
    @include span-columns(3 of 12);
  }

  h4 {
    color: #fff;
    font-size: 1.25em;
    font-weight: 700;
    //text-transform: uppercase;
  }

  .footer-menu {
    list-style: none;
    margin-top: 0;
    padding: 0;

    li {
      font-size: 95%;

      a {
        border: none;
        color: #fff;
        font-family: $base-font-family;
        font-weight: 400;
        padding: 0 0 1em 0;
        text-transform: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

}


// WordPress Edit Link
.post-edit-link {
  background: #227dcf;
  color: #fff;
  display: inline-block;
  font-family: $navigation-font-family;
  font-size: 0.8em;
  padding: .25em 1.5em;
  text-decoration: none;
  text-transform: uppercase;

}
