// Posts & Pages Grid/Layout
article.page, article.post {

  @include span-columns(12 of 12);

  @include media($large-screen) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

article.post, article.page {
  .entry-header {
    @include span-columns(10 of 12);
    @include shift(1);
  }
}

article.post {
  margin-bottom: 2em;
}

.entry-content{
    @include span-columns(10 of 12);
    @include shift(1);
}

.entry-footer {
    @include span-columns(10 of 12);
    @include shift(1);
}

.entry-title {
  @include pad(0 0 1rem 0);

  a {
    color: $action-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.posted-on {
  a { color: $action-color;
    text-decoration: none;}
}

// Post/Page typography

.entry-content {

  h1, h2 {
    font-size: 1.563em;
  }

  h3, h4, h5, h6 {
    font-size: 1.25em;
  }

  p, li {
    font-size: 1.25em;
  }

  a {
    color: $action-color;
    text-decoration: none;

    &:hover, &:focus {
      //color: darken($action-color, 25%);
      text-decoration: underline;
    }
  }

}

// Misc WordPress styles from the WPEditor
.aligncenter,
.alignleft {
  width: auto;
  margin: auto 1em 1em 1em;

  @include media($large-screen) {
    float: left;
    margin: auto 2em 1.5em 0;
  }
}
.alignright {

    @include media($large-screen) {
    float: right;
    margin: auto 0 1.5em 1.5em;
  }
}