// http://www.modularscale.com/?1&em&1.25&web&text

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  
}

.entry-title {
  @include border-color($base-border-color);
  @include border-width(0 0 2px 0);
  @include border-style(solid);

  @include pad(0 0 1rem 0);
}

.entry-content {

  h1, h2 {
    font-size: 1.563em;
  }

  h3, h4, h5, h6 {
    font-size: 1.25em;
  }

  p, li {
    font-size: 1.25em;
  }

  a {
    color: $action-color;
    text-decoration: none;
    @include border-style(solid);
    @include border-width(0 0 1px 0);
    @include border-color($action-color);

    &:hover, &:focus {
      color: darken($action-color, 25%);
    }
  }

}

.event-theme {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-style: italic;
  font-weight: 400;
}

// Speakers
.speaker-list {
  list-style: none;
  @include pad(0);
}

.speaker-name {
  font-size: 1.5em;
}
.speaker-title {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: 400;
  @include margin(0 auto auto auto);
}

// Agenda

.sessions {
  list-style: none;
  @include pad(0);
}

.single-session {

}

.session-extended {
  ol {
    padding: 0;
    list-style-position: inside;
  }
}

.event-description {
  h2 { 
    font-size: $base-font-size;
    margin-top: 0;
  }
}