// Video Styles


// Removed fixed navigation on live stream page.
.page-template-page-stream {

  .site-header {
    position: relative;
  }

  iframe {
    
    border: 1px solid #ccc;
    width: 100% !important;
    height: 675px !important;

    .content-area {
      div, p, table {
      font-family: $base-font-family !important;
      font-size: $base-font-size !important;
      }
    } // .content-area

  } // .iframe

} // page-template-page-stream