// Video Styles


// Removed fixed navigation on live stream page.
.page-template-page-stream {

  .site-header {
    position: relative;
  }

}

.page-template-page-stream {

  iframe {
    
    border: none;
    width: 100% !important;
    height: 675px !important;

    .content-area {
      font-family: $base-font-family;
      font-size: $base-font-size;
    }

  }

}